* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
}

.navbar {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

.navbar .dropdown-item i {
    padding-right: 0.4em;
    display: inline;
}

.parent-main {
    padding-top: 6em;
}

.parent-main .words {
    padding-top: 6em;
    padding-left: 10em;
}

.parent-main .words h1 {
    color: hsl(0, 0%, 8%);
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 2;
}

.parent-main .words p {
    color: hsl(0, 0%, 41%);
    font-size: 18px;
    margin-top: 2em;
    margin-bottom: 3em;
}

.parent-main .words a {
    text-decoration: none;
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 4px;
    padding: 1em 2em;
    color: hsl(0, 0%, 8%);
}

.parent-main .words div {
    margin-top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parent-main .image {
    height: 560px;
    width: 499px;
    padding-left: 6em;
}

.parent-main .image img {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .child-main {
        flex-direction: column-reverse;
    }

    .parent-main {
        padding-top: 0.2em;
    }

    .parent-main .words {
        padding-left: 0%;
        text-align: center;
    }

    .parent-main .words h1 {
        color: hsl(0, 0%, 8%);
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .parent-main .words p {
        color: hsl(0, 0%, 41%);
        font-size: 18px;
        margin-top: 0.5em;
        letter-spacing: 1px;
        margin-bottom: 2em;
    }

    .parent-main .words a {
        text-decoration: none;
        border: 1px solid hsl(0, 0%, 41%);
        border-radius: 4px;
        padding: 1em 2em;
        background-color: hsl(0, 0%, 8%);
        color: hsl(0, 0%, 98%);
    }

    .parent-main .words div {
        margin-top: 4em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .parent-main .words div img {
        width: 70px;
    }

    .parent-main .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 400px;
        width: 100%;
        padding-left: 0;
        padding-top: 4em;
        margin-top: 1em;
    }

}